* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'h1s';
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@font-face {
  font-family: 'h2s';
  src: url(../fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face {
  font-family: 'tiempos';
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@font-face {
  font-family: 'parrafos';
  src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

/* Estilos generales */
html {
  font-family: 'parrafos', sans-serif;
}

body {
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgb(1, 53, 41);
  width: 100%;
  position: fixed;
  margin: 0;
  border-bottom: 1px solid;
  border-color: white;
}

header {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

header a img.logo {
  width: 250px;
  height: auto;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 25px;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header nav ul li a:hover {
  border-bottom: 2px solid white;
}

footer {
  background: rgb(0, 33, 26);
  margin-top: auto;
}

footer ul {
  text-align: right;
  margin-right: 20px;
}

footer ul li {
  list-style: none;
  padding-right: 20px;
  padding-top: 10px;
  display: inline-block;
}

footer ul li img.icono {
  width: 30px;
  height: auto;
}

footer p {
  color: white;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}

/* Index */

main img.inicio {
  width: 100%;
  height: auto;
  margin-top: 155px;
}

main p.intro {
  font-family: 'h1s', sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 45px;
  margin: 80px 150px;
}

aside ul {
  text-align: center;
  margin-bottom: 60px;
}

aside li {
  list-style: none;
  font-size: larger;
  text-align: center;
  margin: 25px;
  display: inline-block;
  font-weight: 500;
}

aside ul li a.enlaces {
  font-family: 'h1s', sans-serif;
  color: black;
}

aside ul li a.enlaces:hover {
  font-family: 'h1s', sans-serif;
  color: rgb(0, 33, 26);
  font-weight: bold;
}


/* Menú */

main h1 {
  font-family: 'h1s', sans-serif;
  color: black;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

img.imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main section div.contenedorTiempos div.imgTiempos {
  height: 20vp;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

main section div.contenedorTiempos h2.tiempos {
  font-family: 'tiempos', sans-serif;
  color: rgb(233, 228, 228);
  font-weight: bolder;
  width: 100%;
  height: 175px;
  font-size: 45px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: -150px;
}

div.columnas {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

main section div.columnas ul.listaPlatillos {
  text-align: left;
  padding: 50px 50px 50px 80px;
  flex: 1 200px;
}

main section div.columnas ul.listaPlatillos li.platillo {
  font-family: 'parrafos', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 3px;
  list-style-type: none;
}

main section div.columnas ul.listaPlatillos p {
  font-family: 'parrafos', sans-serif;
}

main section div.columnas ul.listaPlatillos p.opcion {
  margin-bottom: 0px;
}

/* Localizaciones*/

main h1.encabezadoLocalReserv {
  margin-top: 280px;
  margin-bottom: 50px;
}

div.columnas {
  justify-content: center;
}

main div.columnas div.contenedorInfFotos {
  width: 40%;
  height: auto;
  padding: 20px;
  margin: 20px;
  border: 1px solid;
  border-color: rgb(1, 53, 41);
  flex: 1 200px;
}

main div.columnas div.contenedorInfFotos h2.tituloLocacion {
  font-family: 'h1s';
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 10px;
}

main div.columnas div.contenedorInfFotos a.reservarLink {
  color: #000;
}

main div.columnas div.contenedorInfFotos p.locacionInfo {
  padding-bottom: 15px;
  font-size: 1rem;
}

/* Sobre Nosotros*/

main div.imgNosotros {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1 auto;
  margin-top: 155px;
}

main p.pNosotros {
  font-family: 'h1s', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

main div.columnas div.contenedorInfFotos h2.conceptoSabor {
  margin-top: 50px;
  margin-bottom: 30px;
}

main div.columnas div.contenedorInfFotos p.leyenda {
  margin-top: 20px;
}

/* Reservaciones*/

main div.contenedorReservaciones {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
}

main div.contenedorReservaciones div.formulario {
  text-align: left;
  flex: 2;
}

main div.contenedorReservaciones div.formulario form div.datosReserva {
  padding-bottom: 5px;
}

main div.contenedorReservaciones div.formulario form div.datosReserva label {
  font-weight: bold;
}

main div.contenedorReservaciones div.formulario form div.datosReserva label.hidden {
  display: none;
}

main div.contenedorReservaciones div.formulario form div.datosReserva label.radio {
  font-size: 30px;
}

main div.contenedorReservaciones div.formulario form div.datosReserva input.nombre {
  width: 400px;
  height: 40px;
  border: 2px solid;
  border-color: rgb(1, 53, 41);
  border-radius: 10px;
}

main div.contenedorReservaciones div.formulario form div.datosReserva input.persFechaHora {
  width: 197px;
  height: 40px;
  border: 2px solid;
  border-color: rgb(1, 53, 41);
  border-radius: 10px;

}

main div.contenedorReservaciones div.formulario form div.datosReserva textarea.comentario {
  width: 400px;
  height: 200px;
  border: 2px solid;
  border-color: rgb(1, 53, 41);
  border-radius: 10px;
}

main div.contenedorReservaciones div.formulario form div.datosReserva input.enviar {
  width: 400px;
  height: 40px;
  color: white;
  font-weight: bold;
  border: 2px solid;
  background-color: rgb(1, 53, 41);
  border-radius: 10px;
}

main div.contenedorReservaciones div.mapas {
  font-weight: bold;
  margin-left: 80px;
  text-align: left;
  flex: 1;
}

main div.contenedorReservaciones div.mapas div.mapa {
  margin-top: 10px;
}

/* Estilos de tablet */

@media screen and (max-width:1024px) {

  /* Estilos generales */

  header a img.logo {
    width: 150px;
  }

  /* Index */

  main img.inicio {
    margin-top: 141px;
  }

  /* sobre nosotros */

  main div.imgNosotros {
    height: 30vh;
    margin-top: 100px;
  }

  main p.pNosotros {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Reservaciones */

  main div.contenedorReservaciones div.formulario {
    width: 380px;
    margin: 25px 15px 20px 15px;
  }

}

@media screen and (max-width:991px) {

  /* Estilos generales */

  header {
    align-items: start;
  }

  header a img.logo {
    width: 100px;
  }

  header nav.navbar div.container-fluid button.navbar-toggler {
    margin-top: 0px;
    color: white;
    border: none;
  }

  header nav.navbar div.container-fluid button.navbar-toggler:focus {
    box-shadow: none;
  }

  header nav ul {
    display: inline-block;
  }

  /*Reservaciones  */

  main div.contenedorReservaciones div.mapas div.mapa {
    display: none;
  }
}

/* Estilos de mobile */

@media screen and (max-width:600px) {

  /* Index */

  main img.inicio {
    margin-top: 89px;
  }

  main p.intro {
    font-size: 10px;
    margin: 40px 15px 0px 15px;
    line-height: 15px;
  }

  aside ul li a.enlaces {
    font-size: 10px;
  }

  footer ul {
    margin-right: 5px;
  }

  footer ul li {
    padding-right: 10px;
  }

  footer ul li img.icono {
    width: 20px;
  }

  footer p {
    font-size: 10px;
  }

  /* Menú */

  main h1 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  main section div.contenedorTiempos h2.tiempos {
    font-size: 20px;
    height: 70px;
    letter-spacing: 4px;
    margin-top: -50px;
  }

  div.columnas {
    flex-direction: column;
  }

  main section div.columnas ul.listaPlatillos {
    padding: 0px 15px 0px 50px;
  }

  main section div.columnas ul.listaPlatillos li.platillo {
    font-size: 15px;
  }

  main section div.columnas ul.listaPlatillos p {
    font-size: 14px;
  }

  /* Locaciones */

  main h1.encabezadoLocalReserv {
    font-size: 30px;
    margin-top: 130px;
    margin-bottom: 15px;
  }

  main div.columnas div.contenedorInfFotos {
    width: 90%;
  }

  main div.columnas div.orden:nth-child(2) {
    order: -1;
  }

  /* Sobre nosotros */

  main div.imgNosotros {
    height: 20vh;
    margin-top: 90px;
  }


  /* Reservaciones */
  main div.contenedorReservaciones {
    margin-left: 20px;
  }

  main div.contenedorReservaciones div.formulario {
    flex: 1;
    margin: 25px 0px 20px 0px;
  }

  main div.contenedorReservaciones div.formulario form div.datosReserva label.radio {
    font-size: 20px;
  }

  main div.contenedorReservaciones div.formulario form div.datosReserva input.nombre {
    width: 350px;
  }

  main div.contenedorReservaciones div.formulario form div.datosReserva input.persFechaHora {
    width: 100px;
  }

  main div.contenedorReservaciones div.formulario form div.datosReserva textarea.comentario {
    width: 350px;
  }

  main div.contenedorReservaciones div.formulario form div.datosReserva input.enviar {
    width: 350px;
  }

}